<section class="home">
  <div class="menu">
    <ul>
      <% if current_user %>
        <li><%= current_user.email %></li>
        <li><%= link_to('查看我的追蹤清單', track_lists_path) %></li>
        <br>
        <li><%= link_to('登出', sign_out_users_path, method: 'delete') %></li>
      <% else %>
        <li><%= link_to('登入', sign_in_users_path) %></li>
        <li><%= link_to('註冊', sign_up_users_path) %></li>
      <% end %>
    </ul>
  </div>
</section>
